<% provide(:title, "Help")%>
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>StaticPages#help</h1>
        <h2>WOOW. It works. Now I know how to use HTML + rails for websites. It's a long, long way, but...</h2>
        <p>...we already made some two-page site/app</p>
        <p>Find me in app/views/static_pages/help.html.erb</p>
    </body>
</html>