Hi <%= @user.name %>
Welcome to our App! Click on the link below to activate your account:
<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
If you didn't create this account please ignore this message.
Regards,
App Team