
h1{
text-align: center;
font-size: 30px;
text-decoration: underline;
padding-top: 20px;
padding-bottom: 20px;
}
.navigation-list{
background-color: #333;
list-style: none;
text-align: center;
padding: 0;
margin: 0;
}
.navigation-list li{
display: inline-block;
padding: 30px;
}
.navigation-list a{
text-decoration: none;
color: #000;
display: block;
margin-left: 10px;
}
.navigation-list a:hover{
color: #ff0000;
}
